*{
    font-family: Avangarde, "TeX Gyre", Adventor, "URW Gothic L", sans-serif;
}

.container-0{
    background-color: rgb(138, 138, 138);
    padding: 32px;
}

.header-0{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 14px;
    display: flex;
    color: white;
    margin-left: 150px;
    margin-top: -20px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin-right: 100px;
    margin-top: -20px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero-title{
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin-left: 150px;
    margin-top: 100px;
}

.hero-paragraph{
    font-size: 18px;
    color: white;
    margin-left: 150px;
    margin-top: -10px;
}
