*{
    font-family: Avangarde, "TeX Gyre", Adventor, "URW Gothic L", sans-serif;
}

.container-0{
    background-color: burlywood;
    padding: 32px;
    margin-bottom: 80px;
}

.header-0{
    display: flex;
    justify-content: space-between;
}